<nav class="navbar-default navbar-static-side" role="navigation">
  <ul class="nav" id="side-menu">
    <li class="naveheader" style="border-bottom: 1px solid">
      {{#link-to 'index'}}
        <h1 class='font-bold' style="margin-bottom:10px">ERIC YAO</h1>
        <h2>EY</h2>
        <span class="text-xs text-muted text-center">Photography</span>
      {{/link-to}}
    </li>
    <br/>
    <li>
      {{#link-to 'weddings'}}
        <i class='fa fa-heart'></i>
        <span class="nav-label">Weddings</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'people'}}
        <i class='fa fa-users'></i>
        <span class="nav-label">People</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'places'}}
        <i class='fa fa-lg fa-plane'></i>
        <span class="nav-label">Places</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'personalWork'}}
        <i class='fa fa-th'></i>
        <span class="nav-label">Personal Work</span>
        <span class="fa arrow"></span>
      {{/link-to}}
      <ul class="nav nav-second-level">
        <li>
          {{#link-to 'personalWork.people'}}People{{/link-to}}
        </li>
        <li>
          {{#link-to 'personalWork.other'}}Other{{/link-to}}
        </li>
      </ul>
    </li>
    <br/>
    <li style="border-top: 1px solid">
      {{#link-to 'about'}}
        <i class='fa fa-lg fa-child'></i>
        <span class="nav-label">About</span>
      {{/link-to}}
    </li>
    <li>
      {{#link-to 'contact'}}
        <i class='fa fa-envelope'></i>
        <span class="nav-label">Contact</span>
      {{/link-to}}
    </li>
  </ul>
</nav>
