<nav class="navbar-default navbar-static-side" role="navigation">
  <ul class="nav" id="side-menu">
    <li class="naveheader">
      {{#link-to 'index'}}
        <h1 class='font-bold'>ERIC YAO</h1>
        <h2>EY</h2>
        <span class="text-xs text-muted">Photographer, Visual Artist</span>
      {{/link-to}}
    </li>
    {{render 'portfolio-menu-bar'}}
    {{render 'info-menu-bar'}}
  </ul>
</nav>
