.grid-sizer { width:24%; }
.masonry-item { width:24%; }
.masonry-item.w2 { width:48%; }
.masonry-item.w3 { width:72%; }
.masonry-item.w4 { width:96%; }

.masonry-item,
.grid-sizer {
  float: left;
  /*background: #D26;*/
  /*border: 2px solid #333;*/
  /*border-color: hsla(0, 0%, 0%, 0.5);*/
  border-radius: 5px;
}

.masonry-container {
  margin-top: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}