{{!-- app/templates/about.hbs --}}
<div class="col-md-12" style="padding-bottom:100px"></div>
<div class="text-center">
  <h1>Eric Yao</h1>
  <p>Perfectionist. </p>
  <p>Capture the moment.</p>
</div>