<div class="wrapper">
  {{side-bar}}
  <div class="page-wrapper gray-bg sidebar-content">
    <div class="row">
      <a class="navbar-minimalize minimalize-styl-2 btn btn-primary"><i class="fa fa-bars"></i> </a>
    </div>
      
    {{outlet}}

  </div>
</div>
