{{!-- app/templates/contact.hbs --}}
<div class="col-md-12" style="padding-bottom:100px"></div>
<div class="col-xs-3 col-md-offset-3">
  <form class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-3 control-label">Email:</label>
      <div class="col-sm-9">
        <p class="form-control-static">contact@ericyao.ca</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-3 control-label">Phone:</label>
      <div class="col-sm-9">
        <p class="form-control-static">+1(778)835-1144</p>
      </div>
    </div>
    <div class="form-group">
      <label class="col-sm-4 control-label">Location:</label>
      <div class="col-sm-8">
        <p class="form-control-static">Vancouvor, BC</p>
      </div>
    </div>
  </form>
</div>