{{!-- app/templates/index.hbs --}}

<div>
  
</div>

<ul class="bxslider">
  <li><img src="https://dl.dropboxusercontent.com/u/15863535/EYPhotos/Wedding/Wedding_01.jpg" /></li>
  <li><img src="https://dl.dropboxusercontent.com/u/15863535/EYPhotos/Wedding/Wedding_02.jpg" /></li>
  <li><img src="https://dl.dropboxusercontent.com/u/15863535/EYPhotos/Wedding/Wedding_03.jpg" /></li>
</ul>