{{!-- app/templates/weddings.hbs --}}

{{#photo-swipe}}
  <a class="photo-item thumbnail" href="http://placekitten.com/g/600/400" data-width="600" data-height="400">
    <img src="http://placekitten.com/g/600/400" alt="kitty!">
  </a>
{{/photo-swipe}}